service/.cache
service/.env.sh
view/node_modules
.DS_Store
.ipynb_checkpoints
__pycache__
ai
.tmuxinator.yml
*.code-workspace
service/.env
service/.env.dev
service/.env.benchmark
service/test.db
.env
*.ipynb
build
dist
CLAUDE.md
data
deploy.sh